* {
    margin: 0;
    padding: 0;

    color: white;

    font-family: Arial;
    text-decoration: none;
}

body {
    height: 100vh;
}

.container {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(43, 43, 43);

    display: flex;
    flex-direction: row;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin: 10px;
}

.nav-item {
    color: white;

    transition: color 0.25s;
}
.nav-item.active {
    color: dodgerblue;
}
.nav-item:hover {
    color: dodgerblue;
}

.content {
    background-color: green;
}

.footer {
    background-color: blue;
}

.fs-header {
    font-size: 1.5rem;
}

.site-logo {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 10px;
}
.site-logo img {
    max-height: 64px;
}