* {
    margin: 0;
    padding: 0;

    font-family: Arial;
    text-decoration: none;

    --main-active-color: rgb(14, 208, 62);
    --main-back-color: rgb(43, 43, 43);
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column !important;
    }
    .nav-menu {
        flex-direction: column !important;

        margin-top: 25px;
        margin-bottom: 25px;
    }
    .site-logo {
        justify-content: center;
    }
}

body {
    height: 100vh;
}

.container {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--main-back-color);

    display: flex;
    flex-direction: row;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    gap: 25px;
    margin-right: 25px;

    align-items: center;
    justify-content: right;
}

.nav-item {
    color: white;

    transition: color 0.25s;
}
.nav-item.active {
    color: var(--main-active-color);
}
.nav-item:hover {
    color: var(--main-active-color);
}

.content {
    flex-grow: 1;

    color: rgb(43, 43, 43);
    background-color: rgb(255, 255, 255);

    padding: 25px;
}

.footer {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding: 10px;
    color: white;

    background-color: var(--main-back-color);
}

.site-logo {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 10px;

    margin: 10px;

    color: white;
}
.site-logo img {
    max-height: 50px;
    transition: filter 0.25s;
}
.site-logo img:hover {
    filter:drop-shadow(5px 5px 10px black);
}

.fs-header {
    font-size: 1.5rem;
}

.fs-code {
    font-size: 0.9rem;
    
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    background-color: rgb(218, 218, 218);

    padding: 5px;
}